Repository attakei/pages-2025: changes, and which lefthook commands are due for each by the changed paths.
All: ruff, mypy, textlint

lefthook.yaml:

---
templates:
  run_python: 'uv run'

remotes:
  - git_url: 'https://github.com/attakei/workspace-configs'
    ref: 'v0.4.0'
    configs:
      - 'projects/sphinx-doc/lefthook.yaml'


pre-commit:
  parallel: true
  commands:
    ruff:
      glob: '*.py'
      run: 'uvx ruff format {staged_files}'
      stage_fixed: true
    mypy:
      glob: '*.py'
      exclude:
        - '**/conf.py'
        - 'contents/blog/**'
      run: 'uv run mypy {staged_files}'
    textlint:
      glob: '*.rst'
      run: 'uv run pnpm textlint {staged_files}'

chore: Update renovate rules more automately
  renovate.json5
Due: none

update: Use aqua instead of mise
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  .mise.toml
  aqua.yaml
  renovate.json5
Due: none

update: Configure node toolchain to use volta
  Taskfile.yaml
  lefthook.yaml
  package-lock.json
  package.json
Due: none

fix: Use args
  Taskfile.yaml
Due: none

refactor: Remove unused file
  pnpm-lock.yaml
Due: none

ci: Remove duplicated step
  .github/workflows/main.yml
Due: none

patch: Set vars for tasks
  Taskfile.yaml
Due: none

content: Add new article
  contents/blog/2025/pyconjp-2025/accepted.rst
Due: textlint

content: Add new note
  contents/notes/compute/aqua.rst
Due: textlint

chore: Update deps
  lefthook.yaml
  pyproject.toml
  uv.lock
Due: none

refactor: Skip check by ty
  src/pages/ext/ablog.py
  src/pages/ext/opengraph.py
Due: ruff, mypy

chore: Configure for ignore
  pyproject.toml
Due: none

chore: Settings for WIndows
  pyproject.toml
Due: none

content: Add notes
  contents/notes/gadget/2025.rst
  contents/notes/gadget/gpd-micrpopc-2.rst
  contents/notes/gadget/minisforum-aix1-pro.rst
Due: textlint

content: Add new note
  contents/notes/gadget/anker-products.rst
Due: textlint

content: Add new article
  contents/blog/2025/minisforum-aix1pro.rst
Due: textlint

content: FIx refs
  contents/notes/gadget/2025.rst
  contents/notes/gadget/gpd-micrpopc-2.rst
Due: textlint

feat: Use bun instead of nodejs with volta
  Taskfile.yaml
  aqua.yaml
  bun.lock
  package-lock.json
Due: none

chore: Update env
  .vscode/extensions.json
  .vscode/settings.json
Due: none

content: Index for articles of PyCon JP 2025
  contents/_static/css/custom.css
  contents/blog/2025/pyconjp-2025/index.rst
  contents/conf.py
  pyproject.toml
  uv.lock
Due: ruff, textlint

content: Add speaker section of PyCon JP 2025
  contents/_static/js/adjust-presentation.js
  contents/blog/2025/pyconjp-2025/index.rst
  contents/blog/2025/pyconjp-2025/speaker.rst
  contents/conf.py
  pyproject.toml
  uv.lock
Due: ruff, textlint

content: About travel grant
  contents/blog/2025/pyconjp-2025/index.rst
Due: textlint

content: Change date
  contents/blog/2025/pyconjp-2025/index.rst
Due: textlint

chore: Set attributes
  .gitattributes
Due: none

ci: Deploy og-images on Cloudflare
  .github/workflows/deploy.yml
Due: none

fix: Update stats
  contents/index.rst
Due: textlint

content: Update article
  contents/_static/css/custom.css
  contents/blog/2025/pyconjp-2025/access.rst
Due: textlint

chore: Set indent rule for CSS
  .editorconfig
Due: none

fix: Format for doc8
  contents/blog/2025/pyconjp-2025/access.rst
Due: textlint

chore: Sync lockfile
  bun.lock
Due: none

content: First outline about Neutralino.js
  contents/notes/compute/neutralinojs/index.rst
  contents/notes/compute/neutralinojs/overview.rst
Due: textlint

update: Update format rule
  .editorconfig
Due: none

content: Fix for private account in X
  contents/blog/2021/jtf-2021w.rst
Due: textlint

conten: Update review
  contents/notes/gadget/gpd-micrpopc-2.rst
Due: textlint

content: Update current devices
  contents/notes/gadget/2025.rst
Due: textlint

content: Quote from private posts
  contents/blog/2021/jtf-2021w.rst
Due: textlint

content: Update links
  contents/blog/2025/pyconjp-2025/index.rst
Due: textlint

content: Add article
  contents/blog/2026/i-will-not-need-naya-connect-and-dock.rst
Due: textlint

feat: Add hatena bookmark into blog
  src/pages/theme2025/templates/_widgets/hatena-bookmark.html
  src/pages/theme2025/templates/ablog/frontmatter.html
Due: none

conten: Fix typo of file
  contents/notes/gadget/gpd-micropc-2.rst
Due: textlint
